<div class="container main-content">
  <div class="row">
    <div class="u-full-width text-center">
      <h2>Wandering Bloom</h2>

      <p><%= local_time(@time, "%I:%M %p") %></p>

      <p class="sentence"></p>

      <a class="twitter-share-button"
         data-url="http://wanderingbloom.com"
         data-size:"large"
         >
         Tweet
       </a>

    </div>
  </div>
</div>