<div class="container main-content">
  <div class="row">
    <div class="u-full-width text-center">
      <h2><span>Wandering Bloom</span></h2>

      <p><span><%= local_time(@time, "%I:%M %p") %></span></p>

      <p><span class="sentence"></span></p>

      <a class="twitter-share-button"
         data-url="http://wanderingbloom.com"
         data-size:"large"
         >
         Tweet
       </a>

    </div>
  </div>
</div>