<div class="container main-content">
  <div class="row">
    <div class="u-full-width text-center">
      <h2>Wandering Bloom</h2>

      <p><%= Time.now.strftime("%I:%M %p") %></p>

      <p>Pineapple rock, lemon platt, butter scotch.</p>

    </div>
  </div>
</div>