<div class="container main-content">
  <div class="row">
    <div class="u-full-width text-center">
      <h2>Wandering Bloom</h2>

      <p><%= local_time(@time, "%I:%M %p") %></p>

      <p><%= @sentence.text %></p>

    </div>
  </div>
</div>