$fancy-text: 'Megrim', cursive;
$normal-text: 'Roboto Slab', serif;

body {
  background-image: url(bg-light.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #beb7a5;
}

h2 {
  font-family: $fancy-text;
  font-size: 130px;
}

h2 span {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

p {
  font-family: $normal-text;
  font-size: 40px;
}

p span {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

a {
  text-decoration: none;
  font-size: 21px;
}

.main-content {
  margin-top: 30%;
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

// // desktop
// @media (min-width: 750px) {
//   h2 {
//     font-size: 95px;
//   }

//   p {
//     font-size: 25px;
//   }

//   .main-content {
//     margin-top: 10%;
//   }
// }