$fancy-text: 'Megrim', cursive;
$normal-text: 'Roboto Slab', serif;

h2 {
  font-family: $fancy-text;
  font-size: 95px;
}

p {
  font-family: $normal-text;
  font-size: 25px;
}

.main-content {
  margin-top: 10%;
}

.text-center {
  text-align: center;
}



