.label {
  margin-left: 15px;
}

.twitter-share-button {
  background-color: #1b95e0;
  color: #fff;
  position: relative;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  font-weight: 500;
}


// .label {
//   margin-left: 5px;
//   white-space: nowrap;
// }

// .twitter-share-button {
//   background-color: #1b95e0;
//   color: #fff;
//   position: relative;
//   padding: 5px;
//   border-radius: 3px;
//   font-weight: 500;
//   box-sizing: border-box;
// }

// desktop
// @media (min-width: 500px) {

// }