.xl .btn i {
  top: 4px;
  width: 18px;
  height: 18px;
}

.btn i {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: transparent 0 0 no-repeat;
}

.btn {
  position: relative;
  height: 20px;
  padding: 1px 8px 1px 6px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-color: #1b95e0;
  border-radius: 3px;
  box-sizing: border-box;
}

.btn .label {
  margin-left: 3px;
  white-space: nowrap;
}

.xl .btn .label {
  margin-left: 4px;
}

.twitter-share-button {
  padding: 5px;
}